/* @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
 */
/* @import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #f6a89e;
  padding: 0 16px;
  overflow-y: hidden;
}

header {
  /* background-color: #f5ba13; */
  margin: auto -16px;
  padding: 16px 32px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
  border-bottom: 4px solid #33322e;
}

header h1 {
  color: #33322e;
  /* font-family: "McLaren", cursive; */
  /* font-family: "Indie Flower", cursive; */
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 25px;
}

footer p {
  color: #ccc;
}
.note {
  position: relative;
  background: #f9f3e5;
  border-radius: 25px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  box-shadow: 10px 10px #33322e;
  border: 2px solid #33322e;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  position: absolute;
  border: none;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  color: #8cd4cb;
  cursor: pointer;
  bottom: 5px;
  right: 7px;
  font-size: 12px;
  background-color: transparent;
}
.note button svg {
  width: 25px;
  stroke-width: 1px;
}

form {
  position: relative;

  width: 40%;
  margin: 40px auto 25px;
  border-radius: 25px;
  /* padding: 15px; */
  background-color: #f9f3e5;
  box-shadow: 10px 10px #33322e;
  border: 2px solid #33322e;
}

form input,
form textarea {
  border: none;
  padding: 15px;
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  resize: none;
  outline: none;
  background-color: #f9f3e5;
  border-radius: 25px;
}
form input {
  border-bottom: 2px solid #33322e;
  border-radius: 25px 25px 0 0;
}
form .btn {
  position: absolute;
  color: #33322e;

  background-color: #8cd4cb;
  padding: 5px;
  bottom: -24px;
  right: -24px;
  width: 50px;
  height: 50px;
  border: 2.5px solid #33322e;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
form button:hover {
  transform: translateY(-2px);
  background-color: #d9a20c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
